html, body {
  height: 100%; 
  padding:0;
  margin:0;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -100px;
}
.foot, 
.push {
    height: 100px;   
}
.outer_title {
  background-color: rgb(35, 69, 51);
}
.center_stripe {
  width:90%;
  margin:auto;
}
.title {
  background-color: rgb(70, 137, 102);
  border-left: 10px solid rgb(60, 116, 87); 
  border-right: 10px solid rgb(60, 116, 87);
}
.outer_content {
  background-color: rgb(128, 120, 83);
}
.content {
  border-left: 10px solid rgb(217, 204, 140); 
  border-right: 10px solid rgb(217, 204, 140); 
  background-color: rgb(255, 240, 165);
  padding-bottom: 150px;
  padding-top: 50px;
}
.outer_foot {
  background-color: rgb(128, 88, 30);
}
.foot {
  padding-top: -200px;
  border-left: 10px solid rgb(217, 150, 50); 
  border-right: 10px solid rgb(217, 150, 50); 
  background-color: rgb(255, 176, 59);
}
.resizable { 
  height: 80px;
  title: "Drag edge for more or less";
}
.highlight-box {
  margin: 0px 0px 10px 0px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 15px;
  border-left: 1px solid black; 
  border-right: 1px solid black; 
  border-top: 1px solid black; 
  border-bottom: 1px solid black;
  background-color: rgb(182, 73, 38);
}
.sub_resizable { 
  width: 180px; 
  height:80px;
}
.sub_highlight_box {
  border-right: 1px solid black;
  background-color: rgb(155, 62, 32);
  padding-left: 10px;
  padding-top: 10px;
  margin-top: -10px;
  margin-left: -10px;
}
.quantity {
  font-size: 40px;
}
.quality {
  font-size: 40px;
}
.unit {
  font-size: 25px;
}
.heading {
  font-size: 25px;
  margin: 0px 0px 0px 5px;
}
.button {
  background-color: #eafc71;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 10px;
}
.button-text {
  color: #ff8b00;
}
.result {
  font-size:65px;
  padding:0 0;
  font-family:Georgia,serif;
  font-size-adjust:none;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  letter-spacing:-1px;
  text-align:center;
}