.resizable { width: 200px; height: 75px; padding: 0.5em; }
.resizable h3 { text-align: center; margin: 0; }
.highlight-box {
  background-color: #3c9dd0;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin: 0px 0px 5px 0px;
}
input {
  width: 4em;
}
body {
  background-color: #64aad0;
  font: helvetica;
}
.quantity {
  font-size: 50px;
}
.quality {
  font-size: 50px;
}
.unit {
  font-size: 25px;
}
.heading {
  color: #9303a7;
  font-size: 25px;
  margin: 0px 0px 0px 5px;
}
.button {
  background-color: #eafc71;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 10px;
}
.button-text {
  color: #ff8b00;
}
.result {
  color: #9303a7;
  font-size: 200px;
  position:fixed;
  top:75px;
  left:500px;
}