* {
  margin: 0;
}

html, body {
  height: 100%;
  font-family:Courier;
  background-color: #F1F1F1;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -100px;
}

.foot,
.push {
  height: 100px;
}

.foot {
  height: 100px;
}

#overlay {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100000;
    background-color: #FFF;
    -moz-opacity: 0.9;
    opacity: .90;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}

#overlay-content {
  padding: 10% 20% 0% 20%;
}
#overlay-content p, h1, h2{
  color: black;
}

.control {
  padding-top: 20px;
  padding-bottom: 20px;
}

.resize-container {
  background-color: #E1E1E1;
}

.resizable {
  border: 1px solid black;
  height: 80px;
}

#flour {
  background-color: #A381CF;
}

#water {
  background-color: #90DEEC;
}

#starter {
  background-color: #A6DF61;
}

#hydration {
  background-color: #8ABD50;
}

.assorted-calculations {
  list-style: none;
}

.assorted-calculations li{
  display: inline;
  margin-right: 10px;
}

.hydrationUnlocked {
  opacity:0.1;
  filter:alpha(opacity=10);
}

.sub_resizable {
  border-right: 1px solid black;
  width: 180px;
  height:80px;
}

.quantity, .quality{
  font-size: 40px;
}

.heading {
  pointer-events: none;
}

.quantity {
  pointer-events: none;
}

.unit, .heading {
  font-size: 25px;
}

.result {
  padding: 40px;
  font-size:65px;
  text-align:center;
}

.weight {
  font-size:25px;
  text-align:center;
}